body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   background: url(../elementos/imagenes/fondo_inicio.jpg);
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 10px;
}
.formulario{
    background: #01af5bc2;
    margin-top: 150px;
    padding: 4px;
}
h1{
    text-align: center;
    color: lime;
    font-size: 40px;
}
input{
    font-size: 20px;
    width: 85%;
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid rgb(255, 251, 251);
    background: #f8f8f800;
    color: rgb(255, 255, 255);
}
select{
    font-size: 20px;
    width: 85%;
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid rgb(255, 251, 251);
    background: #f8f8f800;
}
.input-contenedor{
    margin-bottom: 25px;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
}

::placeholder { color: white; }

.button{
    border: none;
    width: 150px;
    margin-top: 10px;
    font-size: 20px;
    color: black;
    background-image: linear-gradient(to right, #03fc45 0%, #00dbde 100%);   
    padding: 15px 20px;
    border-radius: 20px;
    cursor: pointer;
}
.button:hover{
    background: gray;
    background-size: 100% auto;
    background-attachment: fixed;
}
div{
    text-align:center;
}
p{
    text-align: center;
    color: white;
}
.link{
    text-decoration: none;
    color: lime;
    font-weight: 600;
}
.link:hover{
     color: gray;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 450px;
        margin-top: 5%;
        border-radius: 2%;
    }
}