.container-grid {
  /* background-color: aqua; */
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 4rem;
  row-gap: 3rem;
  padding: 1.5rem 2rem;
  margin-bottom: 1.5rem;
}

.desarrollador {
  position: relative;
  height: 270px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0px 6px 19px -10px rgba(0,0,0,0.40);
  -webkit-box-shadow: 0px 6px 19px -10px rgba(0,0,0,0.40);
  -moz-box-shadow: 0px 6px 19px -10px rgba(0,0,0,0.40);
  text-align: center;
}

.dev-keiver {
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.img-desarrollador {
  width: 150px;
  border-radius: 50%;
  margin-bottom: -.5rem;
  box-shadow: 0px 6px 19px -10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 6px 19px -10px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 6px 19px -10px rgba(0,0,0,0.6);
  z-index: 2;
  transform: translateY(-20px);
  transition: .3s;
}

.desarrollador h3 {
  margin-bottom: 4px;
}

.desarrollador h5 {
  margin-bottom: 9px;
}

.desarrollador p {
  font-size: .85rem;
  background-color: #2F4F4F;
  color: #fff;
  padding: 0 12px;
  border-radius: 5px;
}

.fondo-desarrollador {
  position: absolute;
  background-color: #2F4F4F;
  top: 0;
  height: 35%;
  width: 100%;
  border-radius: 7px 7px 0 0;
  z-index: 1;
  transition: .3s;
}

.desarrollador:hover .fondo-desarrollador {
  height: 40%;
}

.desarrollador:hover .linea-dark-desarrollador {
  height: 8px;
}

.desarrollador:hover .img-desarrollador {
  width: 160px;
}

.linea-dark-desarrollador {
  position: absolute;
  background-color: #212529;
  bottom: 0;
  height: 6px;
  width: 100%;
  border-radius: 0 0 7px 7px;
  z-index: 1;
  transition: .3s;
}