.container-login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F4F4F;
}

.img-login {
    position: relative;
    height: 100%;
    display: flex;
    flex: 4;
    /* background-image: url(../elementos/imagenes/colegio-trujillo.png); */
    background-image: url(../elementos/imagenes/colegio-trujillo-sin-color.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: #212529;
    padding: 4rem;
    flex: 2;
}

.container-form h1 {
    font-size: 2rem;
}

.icono-login {
    border-radius: 50%;
    width: 130px;
    /* outline: 7px solid #fff; */
    /* box-shadow: 0px 10px 19px 5px rgba(0,0,0,.15); */
    margin-bottom: 1rem;
}

.logo-login {
    width: 20rem;
    margin-bottom: 3rem;
}

.formulario-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-grupo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}


.input-grupo i {
    font-size: 1.5rem;
    margin-right: .5rem;
}

.form-floating {
    width: 100%;
}

.form-input {
    width: 100%; 
}

.link-login {
    font-size: .9rem;
    text-decoration: none;
    color: #6c757d;
    transition: .3s;
}

.link-login:hover {
    color: #868e96;
}

.container-logo-trujillo {
    /* width: 18.5rem; */
    background-color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .5rem 1.2rem;
    border-radius: 0 8px 0 0;
}

.separador-logo-trujillo {
    margin: 0 15px;
}

.logo-trujillo {
    width: 60px;
}

.nombre-institucion h5 {
    margin-bottom: 0px;
    font-size: 1.25rem;
    line-height: 21px;
    color: #fff;
    margin-top: -2px;
}

.nombre-institucion h5 span {
    font-size: 1rem;
    font-weight: 300;
    color: #c4c4c4;
}