.container-content {
  width: 100%;
  height: 100%;
  /* background-image: url(../elementos/imagenes/fondo-cubo.jpg); */
  background-image: url(../elementos/imagenes/colegio-trujillo-sin-color.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-cards {
  width: 100%;
  height: 100%;
  /* background-color: black; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.container-cards__col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  width: 13rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2F4F4F;
  color: #fff;
  text-align: center;
}

.card h5 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.card p {
  font-size: 5rem;
  font-weight: 600;
  line-height: 6rem;
  margin-bottom: 0;
}