.container-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../elementos/imagenes/colegio-trujillo-oscuro2.png);
    /* background-image: url(../elementos/imagenes/colegio-trujillo-sin-color.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #198754;
}

.container-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    width: 450px;
    background-color: #fff;
    border-radius: 8px;
    padding: 6.5rem 2rem 2rem 2rem;
    margin-top: 2rem;
    margin: 7rem 0 4rem 0;
}

.container-form h1 {
    font-size: 2rem;
}

.icono-login {
    position: absolute;
    top: -60px;
    border-radius: 50%;
    width: 130px;
    outline: 5px solid #fff;
    box-shadow: 0px 10px 19px 5px rgba(0,0,0,.15);
}

.formulario-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-grupo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}


.input-grupo i {
    font-size: 1.5rem;
    margin-right: .5rem;
}

.form-floating {
    width: 100%;
}

.form-input {
    width: 100%; 
}

.link-login {
    font-size: .9rem;
    text-decoration: none;
    color: #6c757d;
    transition: .3s;
}

.link-login:hover {
    color: #198754;
}